<form [formGroup]="loginForm" (ngSubmit)="loginSubmit(loginForm.value)">
    <br />
    <br />
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter your email</mat-label>
            <input type="email" matInput formControlName="email"  placeholder="example@example.com" autocorrect="off" autocapitalize="none" autocomplete="off" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="loginForm['controls']['email'].invalid">{{getEmailErrorMessage(loginForm['controls']['email'])}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Enter your password</mat-label>
            <input matInput id="pwd" formControlName="pwd" [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="loginForm['controls']['pwd'].invalid">{{getPwdErrorMessage(loginForm['controls']['pwd'])}}</mat-error>
        </mat-form-field>
    </p>
    <p>
        <span style="color:#f44336; margin-bottom: 10px;" *ngIf="error">{{ error }}</span>
    </p>

    <button *ngIf="!loading" mat-raised-button color="primary" type="submit">Login</button>
    <button *ngIf="loading" mat-raised-button color="primary" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
  
  </form>


  <button *ngIf="!loading" style="margin-top: 20px;" mat-stroked-button>Continue with google</button>