<div class="container" *ngIf="loggedIn == false && loading === false">
  <a
    mat-raised-button
    href="https://accounts.spotify.com/authorize?client_id=cf45da4d55ea4d35b9b5191f641d4445&response_type=code&redirect_uri=https://front-service-dot-project-h-283916.ew.r.appspot.com/spotify_redirect&scope=user-read-recently-played%20user-top-read%20user-read-private%20user-library-read%20playlist-read-private%20playlist-read-collaborative%20playlist-modify-public%20playlist-modify-private%20user-follow-modify%20user-follow-read%20user-library-modify&state=34fFs29kd09&show_dialog=true"
    >Connect your spotify account</a
  >
</div>
<div class="container" *ngIf="loading === true">
  <mat-spinner class="center"></mat-spinner>
</div>
<div class="layout" *ngIf="loggedIn == true && loading === false">
  <button
    style="float: right"
    mat-raised-button
    color="primary"
    (click)="disconect()"
  >
    Change spotify account
  </button>
  <h1>Spotify</h1>
  <p>Logged in as {{ username }}</p>
  <h2>Playlists</h2>
  <app-table-playlists [service]="0"></app-table-playlists>
</div>
