<mat-table [dataSource]="songs" class="mat-elevation-z8">
    <ng-container matColumnDef="index">
        <mat-header-cell *matHeaderCellDef> Index </mat-header-cell>
        <mat-cell class="mat-column-index" *matCellDef="let index = index"> {{index}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
            <mat-header-cell  *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.track.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="album" >
        <mat-header-cell *matHeaderCellDef> Album </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.track.album.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>